PyQt5
PyQtWebEngine
psutil
openpyxl
pyqtgraph
tabulate
pandas
python-docx
reportlab
numpy
dask
matplotlib
rdkit-pypi
pywin32
tabulate
svglib
"PyQt-Fluent-Widgets[full]" -i https://pypi.org/simple/
PyQt5-Frameless-Window
