PyQt5
PyQtWebEngine
psutil
openpyxl
pyqtgraph
tabulate
pymol-open-source
pandas
python-docx
svglib
reportlab
numpy
dask
matplotlib
rdkit-pypi
MGLTools
pywin32
qfluentwidgets
qframelesswindow
PyQt5
PyQtWebEngine
psutil
openpyxl
pyqtgraph
tabulate
pymol-open-source
pandas
python-docx
svglib
reportlab
numpy
dask
matplotlib
rdkit-pypi
MGLTools
pywin32
qfluentwidgets
qframelesswindow
